/*
1- COMMON STYLES
2- GENERAL STYLES
3- SECTIONS |
    3.1 HEADER
    3.2 HOME SECTION
    3.3 ABOUT SECTION
    3.4 PORTFOLIO SECTION
    3.5 OFFER SECTION
    3.6 SERVICE SECTION
    3.7 NUMBERS SECTION
    3.8 PRICING SECTION
    3.9 TESTIMONIAL SECTION
    3.10 TEAM SECTION
    3.11 BLOG SECTION
    3.12 FOOTER SECTION
*/

body {
    background-color: rgb(187, 220, 220);
}

a {
    text-decoration: none;
    color: rgb(9, 102, 102);
}

.clearfix {
    clear: both;
}

.i1 {
    margin: 0px 0px 0px 0px;
}

.i2 {
    margin: 2px 10px 0px 10px;
}

.home {
    margin-top: 60px;
    position: relative;
    background-size: cover;
    height: 100vh;
    background-image: url(../imges/img5.jpg);
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.input1 {
    margin: 60px 10px 0px 10px;
    text-align: center;
    background-color: rgba(21, 87, 87, 0.822);
}

.input2 {
    margin: 30px 0px 0px -40px;
    background-color: rgba(21, 87, 87, 0.705);
}

.input3 {
    margin: 30px 0px 0px 130px;
    background-color: rgba(21, 87, 87, 0.705);
}

.content_home {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    width: 60%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

.titel_home {
    font-size: 50px;
    color: #fff;
    margin-bottom: 10px;
}

.p_home {
    font-size: 15px;
    color: #fff;
    margin-bottom: 10px;
}

.btn1_home,
.btn2_home {
    width: 80px;
    height: 35px;
    border-radius: 10px;
}

.btn2_home {
    background-color: blue;
    color: #fff;
    margin-right: 10px;
}

.btn1_home:hover,
.btn2_home:hover {
    opacity: 0.4;
}

.header {
    width: 100%;
    height: 60px;
    background-color: rgba(2, 53, 53, 0.432);
    opacity: 0, 5;
    top: 0px;
    position: fixed;
    border-radius: 15px;
    z-index: 1;
}

.img1 {
    float: left;
    width: 60px;
    height: 60px;
    margin: 0px 20px;
    filter: drop-shadow(2, 53, 53, 0.432);
}

.headeru {
    text-align: center;
    margin-top: -7px;
    float: right;
}

.select1 {
    float: left;
    margin-top: 20px;
    background-color: rgba(21, 87, 87, 0.432);
    opacity: 0.5;
    border-radius: 5px;
}

.headerl {
    margin-bottom: 15px;
    color: rgb(10, 143, 143);
    margin: 25px 10px;
    float: right;
    list-style: none;
}

.headera {
    text-decoration: none;
    color: rgb(10, 92, 92);
}

.headera:hover {
    text-decoration: underline;
    color: rgb(11, 49, 49);
}

.title {
    margin-top: 65px;
}

.select {
    background-color: rgb(6, 215, 215, );
}

.line {
    width: 15%;
    height: 4px;
    border-radius: 50%;
    background-color: black;
    margin: auto;
    margin-top: -10px;
    margin-bottom: 20px;
}

.title0 {
    text-align: center;
}

.parent {
    margin-top: 60px;
}

.div1 {
    width: 20%;
    height: 200px;
    border: 2px solid black;
    border-radius: 12%;
    text-align: center;
    float: left;
    margin-left: 10%;
    padding-bottom: 13px;
    position: relative;
}

.div1::after {
    z-index: -3;
    content: "";
    position: absolute;
    width: 100%;
    height: 0%;
    top: 0;
    left: 0;
    background-color: rgba(8, 94, 94, 0.377);
    transition: 1s;
    border-radius: 12%;
}

.div1:hover::after {
    width: 100%;
    height: 100%;
}

.title1 {
    font-size: 25px;
    color: rgb(2, 53, 53);
}

.a1 {
    text-decoration: none;
    display: inline;
    color: rgb(7, 105, 105);
    position: relative;
    z-index: 7;
}

.a1:hover {
    color: rgb(2, 53, 53);
}

.but1 {
    width: 80%;
    height: 45px;
    background-color: rgb(2, 53, 53);
    color: rgb(6, 155, 155);
    border: none;
    border-radius: 25px;
    font-size: 19px;
    position: relative;
    z-index: 7;
}

.div2 {
    width: 20%;
    height: 200px;
    border: 2px solid black;
    border-radius: 12%;
    text-align: center;
    float: left;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 10px;
    position: relative;
}

.div2::after {
    z-index: -3;
    content: "";
    position: absolute;
    width: 100%;
    height: 0%;
    top: 0;
    left: 0;
    background-color: rgba(8, 94, 94, 0.377);
    transition: 1s;
    border-radius: 12%;
}

.div2:hover::after {
    width: 100%;
    height: 100%;
}

.title2 {
    font-size: 25px;
    color: rgb(2, 53, 53);
}

.a2 {
    text-decoration: none;
    display: inline;
    color: rgb(7, 105, 105);
    position: relative;
    z-index: 7;
}

.a2:hover {
    color: rgb(2, 53, 53);
}

.but2 {
    width: 80%;
    height: 45px;
    background-color: rgb(2, 53, 53);
    color: rgb(6, 155, 155);
    border: none;
    border-radius: 25px;
    font-size: 19px;
    position: relative;
    z-index: 7;
}

.div3 {
    width: 20%;
    height: 200px;
    border: 2px solid black;
    border-radius: 12%;
    text-align: center;
    float: left;
    padding-bottom: 10px;
    position: relative;
}

.div3::after {
    z-index: -3;
    content: "";
    position: absolute;
    width: 100%;
    height: 0%;
    top: 0;
    left: 0;
    background-color: rgba(8, 94, 94, 0.377);
    transition: 1s;
    border-radius: 12%;
}

.div3:hover::after {
    width: 100%;
    height: 100%;
}

.title3 {
    font-size: 25px;
    color: rgb(2, 53, 53);
}

.a3 {
    text-decoration: none;
    display: inline;
    color: rgb(7, 105, 105);
    position: relative;
    z-index: 7;
}

.a3:hover {
    color: rgb(2, 53, 53);
}

.but3 {
    width: 80%;
    height: 45px;
    background-color: rgb(2, 53, 53);
    color: rgb(6, 155, 155);
    border: none;
    border-radius: 25px;
    font-size: 19px;
    position: relative;
    z-index: 7;
}

.title5 {
    text-align: center;
    margin-top: 40px;
}

.line1 {
    width: 20%;
    height: 4px;
    border-radius: 50%;
    background-color: black;
    margin: 6px auto;
}

.div4 {
    margin: 50px 0px 20px 10%;
    width: 20%;
    height: 300px;
    border: 2px solid black;
    border-radius: 12%;
    text-align: center;
    float: left;
    background-image: url(../imges/img10.png);
    background-size: cover;
    position: relative;
}

.i2 {
    color: rgb(17, 0, 255);
    margin: 100px 0px 0px 10px;
    font-size: 20px;
}

.div4::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0%;
    bottom: 0;
    left: 0;
    background-color: rgba(8, 231, 231, 0.377);
    transition: 1s;
    border-radius: 12%;
}

.div4:hover::after {
    width: 100%;
    height: 100%;
}

.p4 {
    width: 250px;
    height: 300px;
    opacity: 0;
    position: relative;
    z-index: 7;
}

.p4:hover {
    opacity: 1;
}

.div5 {
    margin: 50px 10% 10px 10%;
    width: 20%;
    height: 300px;
    border: 2px solid black;
    border-radius: 12%;
    text-align: center;
    float: left;
    background-image: url(../imges/img10.png);
    background-size: cover;
    position: relative;
}

.div5::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0%;
    bottom: 0;
    left: 0;
    background-color: rgba(8, 231, 231, 0.377);
    transition: 1s;
    border-radius: 12%;
}

.div5:hover::after {
    width: 100%;
    height: 100%;
}

.p5 {
    width: 250px;
    height: 300px;
    opacity: 0;
    position: relative;
    z-index: 7;
}

.p5:hover {
    opacity: 1;
}

.div6 {
    margin: 50px 0px 0px 0px;
    width: 20%;
    height: 300px;
    border: 2px solid black;
    border-radius: 12%;
    text-align: center;
    float: left;
    background-image: url(../imges/img10.png);
    background-size: cover;
    position: relative;
}

.div6::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0%;
    bottom: 0;
    right: 0;
    background-color: rgba(8, 231, 231, 0.377);
    transition: 1s;
    border-radius: 12%;
}

.div6:hover::after {
    width: 100%;
    height: 100%;
}

.p6 {
    width: 250px;
    height: 300px;
    opacity: 0;
    position: relative;
    z-index: 7;
}

.p6:hover {
    opacity: 1;
}

.div7 {
    margin: 100px 0px 10px 10%;
    width: 20%;
    height: 300px;
    border: 2px solid black;
    border-radius: 12%;
    text-align: center;
    float: left;
    padding-bottom: 10px;
    background-image: url(../imges/img10.png);
    background-size: cover;
    position: relative;
}

.div7::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0%;
    bottom: 0;
    right: 0;
    background-color: rgba(8, 231, 231, 0.377);
    transition: 1s;
    border-radius: 12%;
}

.div7:hover::after {
    width: 100%;
    height: 100%;
}

.p7 {
    width: 250px;
    height: 300px;
    opacity: 0;
    position: relative;
    z-index: 7;
}

.p7:hover {
    opacity: 1;
}

.div8 {
    margin: 100px 10% 10px 10%;
    width: 20%;
    height: 300px;
    border: 2px solid black;
    border-radius: 12%;
    text-align: center;
    float: left;
    padding-bottom: 10px;
    background-image: url(../imges/img10.png);
    background-size: cover;
    position: relative;
}

.div8::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0%;
    bottom: 0;
    right: 0;
    background-color: rgba(8, 231, 231, 0.377);
    transition: 1s;
    border-radius: 12%;
}

.div8:hover::after {
    width: 100%;
    height: 100%;
}

.p8 {
    width: 250px;
    height: 300px;
    opacity: 0;
    position: relative;
    z-index: 7;
}

.p8:hover {
    opacity: 1;
}

.div9 {
    margin: 100px 0px 10px 0px;
    width: 20%;
    height: 300px;
    border: 2px solid black;
    border-radius: 12%;
    text-align: center;
    float: left;
    background-image: url(../imges/img10.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

.div9::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0%;
    bottom: 0;
    right: 0;
    background-color: rgba(8, 231, 231, 0.377);
    transition: 1s;
    border-radius: 12%;
}

.div9:hover::after {
    width: 100%;
    height: 100%;
}

.p9 {
    width: 250px;
    height: 300px;
    opacity: 0;
    position: relative;
    z-index: 7;
}

.p9:hover {
    opacity: 1;
}

.Poffer-item1 {
    margin-top: -300px;
    margin-bottom: -450px;
    width: 100vw;
    height: 100vh;
}

.Poffer-item {
    width: 100vw;
    height: 100vh;
}

.Coffer-item {
    margin: 0px 0px 0px 5%;
    width: 20%;
    height: 250px;
    float: left;
    margin-bottom: 20px;
    border: 1px solid #a8a8a8;
    padding: 30px 15px 30px 70px;
    position: relative;
}

.CCoffer-item {
    margin: 0px 0px 50px 5%;
    width: 20%;
    height: 250px;
    float: left;
    margin-bottom: 20px;
    border: 1px solid #a8a8a8;
    padding: 30px 15px 30px 70px;
    position: relative;
}

.fa-2x {
    margin-left: -20px;
    font-size: 2em;
}

.offer-item-title {
    color: rgb(2, 53, 53);
    text-transform: capitalize;
    margin-bottom: 15px;
    margin-left: 10px;
    transition: 1s;
    font-size: 25px;
    display: inline;
}

.offer-item-desc {
    text-transform: capitalize;
    margin-top: 70px;
    line-height: 1.6;
    color: rgb(7, 105, 105);
}

.ltr:after {
    z-index: -3;
    content: "";
    position: absolute;
    width: 0%;
    height: 0%;
    top: 0;
    left: 0;
    background-color: rgba(8, 231, 231, 0.377);
    transition: 1s;
}

.ltr:hover::after {
    opacity: 0.7;
    width: 100%;
    height: 100%;
}

.p-check {
    padding-left: 40px;
}

.title88 {
    margin: 100px auto;
}

.title8 {
    margin-top: 10px;
    text-align: center;
}

.line8 {
    width: 200px;
    height: 4px;
    border-radius: 50%;
    background-color: black;
    margin: 3px auto;
}

.check {
    width: 100px;
    height: 50vh;
    margin: 100px 0px 0px 0px;
}

.li2 {
    font-size: 30px;
    color: rgb(26, 105, 105);
    margin-left: 18px;
    float: left;
}

.li2:hover {
    color: rgb(0, 255, 255);
}

.line89 {
    margin: 200px auto;
}

.aslam2 {
    margin-right: 50px;
    float: right;
    width: 250px;
    height: 300px;
}

.aslam {
    border: 4px dashed rgba(10, 184, 160, 0.863);
    margin-right: 50px;
    float: right;
    width: 250px;
    height: 300px;
}

.il {
    margin: 15px 0px;
    float: left;
}

.home-footer {
    margin: 10px 0px;
}

.footer {
    text-align: center;
    margin-top: 200px;
    width: 100%;
    height: 50vh;
    background-image: url(../imges/img9.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    position: relative;
}

.dfooter {
    margin: 3% 8.9%;
    float: left;
}

.ifooter {
    font-size: 50px;
    margin-top: 80px;
    color: blue;
}

.footers {
    color: rgb(255, 255, 255);
}

.ashtrkk {
    margin-bottom: 200px;
}

.ashtrk {
    float: left;
    margin-top: 50px;
    margin-left: 10%;
    line-height: 30px;
    color: #727070;
    text-align: center;
    width: 20%;
    border: 2px solid rgba(8, 85, 85, 0.829);
    position: relative;
}

.ashtrkss {
    width: 100%;
    height: 100%;
}

.ashtrkss::after {
    content: "";
    position: absolute;
    transition: 1s;
    width: 100%;
    height: 0%;
    top: 0;
    left: 0;
    background-color: #0dbba462;
}

.ashtrkss:hover::after {
    width: 100%;
    height: 100%;
}

.ashtrkss:hover .ashtrk-p1 {
    color: red;
}

.ashtrkss:hover .ashtrk-dari {
    color: red;
}

.dari {
    width: 90px;
    height: 90px;
    margin: auto;
    border: 2px solid #a8a8a8;
    border-radius: 50%;
}

.ashtrk-b {
    margin-bottom: 5px;
    border: 2px solid rgba(8, 85, 85, 0.829);
    background-color: rgb(187, 220, 220);
}

.testimonial {
    margin: 350px 0px 20px 0px;
    position: relative;
    background-image: url("../imges/img9.jpg");
    background-attachment: fixed;
    background-size: cover;
    height: 350px;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: #0dbba462;
    ;
}

.container {
    width: 80%;
    margin: auto;
}

.testimonial-content {
    overflow: hidden;
    width: 90%;
    margin: auto;
}

.testimonial-item {
    float: left;
    width: 40%;
    color: #fff;
    padding-right: 20px;
    padding-top: 55px;
    margin: -30px 7% 110px 0px;
}

.testimonial-toplayer {
    padding: 90px 20px 10px 150px;
    position: relative;
    line-height: 1.4;
    margin-bottom: 20px;
}

.testimonial-toplayer img {
    position: absolute;
    top: 82px;
    left: 65px;
    border-radius: 50%;
}

.testimonial-toplayer span {
    color: #6195ff;
}

.title9 {
    margin-bottom: -5px;
    margin-top: 50px;
    text-align: center;
}

.line9 {
    width: 200px;
    height: 4px;
    border-radius: 50%;
    background-color: black;
    margin: 25px auto;
    margin-top: 5px;
}

.team-content {
    margin: 10px 10%;
}

.team-item.mg {
    margin: 0px 16%;
}

.team-item {
    display: block;
    float: left;
    width: 20%;
    background-color: rgb(30, 165, 165);
    padding: 17px 13px;
    text-align: center;
    position: relative;
}

.team-item::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0px;
    top: 0px;
    left: 0px;
    background-color: rgba(8, 231, 231, 0.377);
    opacity: 0;
}

.team-item:hover::after {
    width: 100%;
    height: 100%;
    opacity: 0.4;
    transition: 1s;
}

.team-overlay {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(15, 95, 95, 0.377);
    visibility: hidden;
    opacity: 0;
}

.team-overlay a {
    display: block;
    width: 40px;
    height: 40px;
    background-color: #7ba7ff;
    color: #fff;
    margin-left: auto;
}

.team-item:hover .team-overlay {
    visibility: visible;
    opacity: 1;
}

.team-overlay a i {
    margin-left: -10px;
    position: absolute;
    z-index: 3;
    line-height: 40px;
}

.homrss {
    margin-top: 100px;
}

.title59 {
    margin-top: 400px;
    background-color: rgb(187, 220, 220);
}

.title9 {
    text-align: center;
}

.line9 {
    width: 200px;
    height: 4px;
    border-radius: 50%;
    background-color: black;
    margin: 15px auto;
}

.homrss {
    overflow: auto;
    position: relative;
}

.contentr1 {
    float: left;
    margin: 0px 5% 0px 10%;
    height: 99%;
    width: 20%;
    position: relative;
}

.contentr1::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0%;
    top: 0;
    left: 0;
    background-color: rgba(58, 210, 210, 0.658);
    opacity: 0.5;
    transition: 1s;
}

.contentr1:hover::after {
    width: 100%;
    height: 100%;
}

.contentr2 {
    margin: 0px 2% 0px 5%;
    float: left;
    height: 99%;
    width: 20%;
    position: relative;
}

.contentr2::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0%;
    top: 0;
    left: 0;
    background-color: rgba(58, 210, 210, 0.658);
    opacity: 0.5;
    transition: 1s;
}

.contentr2:hover::after {
    width: 100%;
    height: 100%;
}

.contentr3 {
    margin: 0px 10% 0px 5%;
    float: left;
    height: 99%;
    width: 20%;
    position: relative;
}

.contentr3::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0%;
    top: 0;
    left: 0;
    background-color: rgba(58, 210, 210, 0.658);
    opacity: 0.5;
    transition: 1s;
}

.contentr3:hover::after {
    width: 100%;
    height: 100%;
}

.img-contentr {
    width: 200px;
    height: 250px;
    margin-left: 10px;
}

.footerr {
    background-color: rgba(132, 171, 171, 0.671);
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    text-align: center;
    margin-top: 40px;
    height: 300px;
    padding: 60px 0;
}

.f22 {
    width: 160px;
    height: 150px;
}

.footer-links {
    list-style: none;
    margin-left: 420px;
    overflow: auto;
}

.divover {
    margin: 0px 10px;
    text-align: center;
    float: left;
    background-color: #6195ff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.iv {
    margin-top: 12px;
    font-size: 25px;
}